<div class="full-width">

  <section>
    <article class="eight-wide shift-two">
      <div class="login-header">
        <h1>Sonder</h1>

        <h3>A community for remembering the ones we've lost</h3>
      </div>
    </article>
  </section>

  <section>
    <article class="four-wide shift-four" id="registration-container">

      <% if @user.errors.any? %>
        <div>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li class="error-msg"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div id="sign-in-form">
        <%= form_for @user, url: sessions_path do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>
          <%= f.submit "Sign In" %>
        <% end %>

        <div class="signed-up shift-three">
          <h8>Haven't registered yet?</h8>
        </div>
        <div class="signed-up shift-five">
          <%= link_to "Register", new_registration_path %>
        </div>
      </div>

    </article>
  </section>

</div>