<%= form_for @memorial_page.new_post, url: memorial_posts_path(memorial_id: @memorial_page.memorial.id), id: "add-post-form" do |f| %>
  <%= f.label :post %>
  <%= f.text_field :title, placeholder: "Title (required)"%>

  <div class="add-post-input-container">
    <%= f.text_area :content, class: "post-input", id: "add-post-input", placeholder: "Share a post about #{@memorial_page.memorial.name.split[0]}..." %>
  </div>

  <p id="post-char-count"></p>

  <%= f.submit "Add post", id: "add-post-button" %>

<% end %>