<div class="card" data-id="<%= image.id %>" id="<%= image.id %>" data-memorial-id="<%= image.memorial.id %>" data-like-count="<%= image.likes.count %>" data-type="Image">
  <div class="card-image">
    <%= image_tag image.image.versions[:card] %>
  </div>
  <div class="card-header">
    <%= image.user.name %>
  </div>
  <div class="card-copy">
  <%= simple_format image.subtitle %>

    <div class="image-modal">
      <label for="modal-<%= image.id %>">
      </label>
      <input class="modal-state" id="modal-<%= image.id %>" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-<%= image.id %>"></label>
          <%= image_tag image.image %>
        </div>
      </div>
    </div>

</div>
  <div class="card-stats">
    <ul>
      <% if image.likes.count > 0 %>
        <li id="liked">
      <% else %>
        <li>
      <% end %>
      <%= form_tag do %>
        <%= image_submit_tag("heart-plus-icon-red.png", class: "unlike") %>
      <% end %>
      <%= form_tag do %>
        <%= image_submit_tag("heart-plus-icon.png", class: "favorite") %>
      <% end %>
      </li>
      <li class="like-count" data-likes="<%= image.likes.count %>"><%= image.likes.count %></li>
      <% if image.user.id == current_user.id %>
        <div class="crud-actions">
          <li>
            <%= link_to "Delete", memorial_image_path(memorial_id: image.memorial.id, id: image.id), method: :delete %>
          </li>
          <li>
            <%= link_to "Edit", edit_memorial_image_path(memorial_id: image.memorial.id, id: image.id) %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>