<div class="card" data-id="<%= image.id %>" id="<%= image.id %>" data-memorial-id="<%= image.memorial.id %>" data-like-count="<%= image.likes.count %>" data-type="Image">
  <div class="card-image">
    <%= image_tag image.image.versions[:card] %>
  </div>
  <div class="card-header">
    <%= image.user.name %>
  </div>
  <div class="card-copy">
    <%= simple_format image.subtitle %>

    <div class="image-modal">
      <label for="modal-<%= image.id %>">
      </label>
      <input class="modal-state" id="modal-<%= image.id %>" type="checkbox"/>

      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-<%= image.id %>"></label>
          <%= image_tag image.image %>
        </div>
      </div>
    </div>

  </div>
  <%= render partial: "memorials/cards/stats", locals: {content: image} %>
</div>