<div class="card" data-id="<%= post.id %>" id="<%= post.id %>" data-memorial-id="<%= post.memorial.id %>" data-like-count="<%= post.likes.count %>"  data-type="Post">
  <div class="card-header">
    <%= post.user.name %>
  </div>
  <div class="card-copy">
    <span class="post-title">
      <%= simple_format post.title %>
    </span>
    <%= simple_format (post.content[0..140] + "...") %>

    <div class="modal">
      <label for="modal-<%= post.id %>">
        <div class="btn js-btn"><span>Click for full post</span></div>
      </label>
      <input class="modal-state" id="modal-<%= post.id %>" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-<%= post.id %>"></label>
          <h1><%= post.title %></h1>
          <p class="body"><p style="font-weight: bold">by <%= post.user.name %></p><%= simple_format post.content %></p>
        </div>
      </div>
    </div>

  </div>
  <div class="card-stats">
    <ul>
      <% if post.likes.count > 0 %>
        <li id="liked">
      <% else %>
        <li>
      <% end %>
      <%= form_tag do %>
        <%= image_submit_tag("heart-plus-icon-red.png", class: "unlike") %>
      <% end %>
      <%= form_tag do %>
        <%= image_submit_tag("heart-plus-icon.png", class: "favorite") %>
      <% end %>
      </li>
      <li class="like-count" data-likes="<%= post.likes.count %>"><%= post.likes.count %></li>
      <% if post.user.id == current_user.id %>
        <div class="crud-actions">
          <li class="delete-card">
            <%= link_to "Delete", memorial_post_path(memorial_id: post.memorial.id, id: post.id), method: :delete %>
          </li>
          <li class="edit-card">
            <%= link_to "Edit", edit_memorial_post_path(memorial_id: post.memorial.id, id: post.id) %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>