<div class="card" data-id="<%= post.id %>" id="<%= post.id %>" data-memorial-id="<%= post.memorial.id %>" data-like-count="<%= post.likes.count %>"  data-type="Post">
  <div class="card-header">
    <%= post.user.name %>
  </div>
  <div class="card-copy">
    <span class="post-title">
      <%= simple_format post.title %>
    </span>
    <%= simple_format (post.content[0..140] + "...") %>

    <div class="modal">
      <label for="modal-<%= post.id %>">
        <div class="btn js-btn"><span>Click for full post</span></div>
      </label>
      <input class="modal-state" id="modal-<%= post.id %>" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-<%= post.id %>"></label>
          <h1><%= post.title %></h1>
          <p class="body"><p style="font-weight: bold">by <%= post.user.name %></p><%= simple_format post.content %></p>
        </div>
      </div>
    </div>

  </div>
  <%= render partial: "memorials/cards/stats", locals: {content: post} %>
</div>