<div class="card" data-id="<%= post_id %>" data-memorial-id="<%= memorial_id %>" data-like-count="<%= likes.count %>"  data-type="<%= type %>">
  <div class="card-header">
    <%= name %>
  </div>
  <div class="card-copy">
    <span class="post-title">
      <%= simple_format post_title %>
    </span>
    <%= simple_format (post_content[0..140] + "...") %>

    <div class="modal">
      <label for="modal-<%= post_id %>">
        <div class="btn js-btn"><span>Click for full post</span></div>
      </label>
      <input class="modal-state" id="modal-<%= post_id %>" type="checkbox" />
      <div class="modal-window">
        <div class="modal-inner">
          <label class="modal-close" for="modal-<%= post_id %>"></label>
          <h1><%= post_title %></h1>
          <p class="body"><p style="font-weight: bold">by <%= name %></p><%= simple_format post_content %></p>
        </div>
      </div>
    </div>

  </div>
  <div class="card-stats">
    <ul>
      <% if likes.where(user_id: current_user.id).count > 0 %>
        <li id="liked">
      <% else %>
        <li>
      <% end %>
      <%= form_tag do %>
        <%= image_submit_tag("heart-plus-icon-red.png", class: "unlike") %>
      <% end %>
      <%= form_tag do %>
        <%= image_submit_tag("heart-plus-icon.png", class: "favorite") %>
      <% end %>
      </li>
      <li class="like-count" data-likes="<%= likes.count %>"><%= likes.count %></li>
    </ul>
  </div>
</div>