<div class="card-stats">
  <ul>
    <% if content.likes.count > 0 && content.likes.any?{|like| like.user_id == current_user.id} %>
      <li id="liked">
    <% else %>
      <li>
    <% end %>
    <%= form_tag do %>
      <%= image_submit_tag("heart-plus-icon-red.png", class: "unlike") %>
    <% end %>
    <%= form_tag do %>
      <%= image_submit_tag("heart-plus-icon.png", class: "favorite") %>
    <% end %>
    </li>
    <li class="like-count" data-likes="<%= content.likes.count %>">
      <%= content.likes.count %>
    </li>
    <div class="crud-actions">
      <% if user_is_creator_or_admin?(content.user, content.memorial) %>
        <li class="delete-card">
          <%= link_to "Delete", "/memorials/#{content.memorial.id}/#{content.type}/#{content.id}", method: :delete %>
        </li>
      <% end %>
      <% if user_is_admin_not_creator?(content.memorial, content.user) %>
        <li class="ban-user">
          <%= link_to "Ban User", memorial_user_permission_path(memorial_id: content.memorial.id, id: content.user.id), method: :patch %>
        </li>
      <% end %>
      <% if user_is_creator?(content.user) %>
        <li class="edit-card">
          <%= link_to "Edit", "/memorials/#{content.memorial.id}/#{content.type}/#{content.id}/edit" %>
        </li>
      <% end %>
    </div>
  </ul>
</div>