<div class="card" data-id="<%= story.id %>" id="<%= story.id %>" data-memorial-id="<%= story.memorial.id %>" data-like-count="<%= story.likes.count %>" data-type="Story">
  <div class="card-header">
    <%= story.user.name %>
  </div>
  <div class="card-copy">
    <%= simple_format story.story %>
  </div>
  <%= render partial: "memorials/cards/stats", locals: {content: story} %>
</div>