<div class="card" data-id="<%= story.id %>" id="<%= story.id %>" data-memorial-id="<%= story.memorial.id %>" data-like-count="<%= story.likes.count %>" data-type="Story">
  <div class="card-header">
    <%= story.user.name %>
  </div>
  <div class="card-copy">
    <%= simple_format story.story %>
  </div>
  <div class="card-stats">
    <ul>
      <% if story.likes.count > 0 %>
        <li id="liked">
      <% else %>
        <li>
      <% end %>
      <%= form_tag do %>
        <%= image_submit_tag("heart-plus-icon-red.png", class: "unlike") %>
      <% end %>
      <%= form_tag do %>
        <%= image_submit_tag("heart-plus-icon.png", class: "favorite") %>
      <% end %>
      </li>
      <li class="like-count" data-likes="<%= story.likes.count %>">
        <%= story.likes.count %>
      </li>
      <div class="crud-actions">
        <% if user_is_creator_or_admin?(story.user, story.memorial) %>
          <li class="delete-card">
            <%= link_to "Delete", memorial_story_path(memorial_id: story.memorial.id, id: story.id), method: :delete %>
          </li>
        <% end %>
        <% if user_is_admin_not_creator?(story.memorial, story.user) %>
          <li class="ban-user">
            <%= link_to "Ban User", memorial_user_permission_path(memorial_id: story.memorial.id, id: story.user.id), method: :patch %>
          </li>
        <% end %>
        <% if user_is_creator?(story.user) %>
          <li class="edit-card">
            <%= link_to "Edit", edit_memorial_story_path(memorial_id: story.memorial.id, id: story.id) %>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
</div>