<div class="card" data-id="<%=comment_id%>">
  <!--<div class="card-image">-->
    <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">-->
  <!--</div>-->
  <div class="card-header">
    <%= name %>
  </div>
  <div class="card-copy">
    <p><%= comment_text %></p>
  </div>
  <div class="card-stats">
    <ul>
      <li>
        <%= form_tag do %>
          <% hidden_field_tag 'comment_id', comment_id %>
          <%= image_submit_tag("heart-plus-icon.png", class: "comment-favorite") %>
        <% end %>
      </li>
      <li class="like-count"><%= 0 %></li>
    </ul>
  </div>
</div>