<div class="full-width">
  <%= render "header" %>
</div>

<div class="full-width">
  <h3 class="cntr-txt">Create a Memorial</h3>
  <section>
    <article>
      <div class="four-wide shift-four">
        <%= form_for @memorial, url: memorials_path do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :born, "Date of Birth (mm/dd/yyyy)" %>
          <%= f.text_field :born, class: "datepicker" %>

          <%= f.label :died, "Date of Death (mm/dd/yyyy)" %>
          <%= f.text_field :died, class: "datepicker" %>

          Add Photos:
          <ul>
            <%= f.fields_for :images do |images_form| %>
              <%= images_form.label :image %>
              <%= images_form.file_field :image %>

              <%= images_form.label :subtitle %>
              <%= images_form.text_field :subtitle %>
            <% end %>
          </ul>
          <%= f.submit "Create Memorial" %>
        <% end %>
      </div>
    </article>
  </section>
</div>
