<div class="memorial-wrapper" data-memorial-id="<%= @memorial_page.memorial.id %>">

  <div class="memorial-cover-photo"></div>

  <% @memorial_page.carousel_images.each do |image| %>
    <div class="image-string"><%= image.image.versions[:cropped] %></div>
  <% end %>

  <div class="memorial-name-dates cntr-txt">
    <p>
      <span id="name">
        <%= @memorial_page.memorial.name %><br>
      </span>
      <span id="dates">
        <%= @memorial_page.memorial.born.strftime("%b %e, %Y ") %>
        - <%= @memorial_page.memorial.died.strftime("%b %e, %Y ") %>
      </span>
    </p>
  </div>

  <% if @memorial_page.carousel_images.count > 1 %>
    <%= image_tag "left-arrow.png", class: "next-image" %>
    <%= image_tag "right-arrow.png", class: "previous-image" %>
  <% end %>

  <div class="full-width">
    <div class="memorial-content">

      <div class="memorial-content-buttons scrollto">
        <ul>
          <li><button id="new-story-button">Story</button></li>
          <li><button id="new-post-button">Post</button></li>
          <li><button id="new-image-button">Photo</button></li>
        </ul>
      </div>

      <%= render 'memorials/content_forms/new_story' %>
      <%= render 'memorials/content_forms/new_post' %>
      <%= render 'memorials/content_forms/new_image' %>

      <div class="columns-container">
        <%= render partial: "memorials/cards/image_card", collection: @memorial_page.images, as: :image %>
        <%= render partial: "memorials/cards/post_card", collection: @memorial_page.memorial.posts, as: :post %>
        <%= render partial: "memorials/cards/story_card", collection: @memorial_page.memorial.stories, as: :story %>
      </div>
    </div>
  </div>
</div>