<div class="row">
  <div class="memorial-cover-photo">
  </div>

  <div class="memorial-name-dates cntr-txt">
    <h1><span class="da-name">Remembering <%= @memorial.name %></span></h1>

    <h3><%= @memorial.born.strftime("%b %M, %Y")  %> - <%= @memorial.died.strftime("%b %M, %Y") %></h3>
  </div>
</div>

<div class="full-width">
  <div class="memorial-content">

    <div class="memorial-content-buttons">
      <ul>
        <li>
          <button id="new-story-button">+ Story</button>
        </li>
        <li>
          <button>+ Post</button>
        </li>
        <li>
          <button>+ Photo</button>
        </li>
      </ul>
    </div>

    <%= form_for @story, url: memorial_stories_path(memorial_id: @memorial.id), id: "add-story-form" do |f| %>
      <%= f.label :story %>
      <%= f.text_field :story, class: "story-input", id: "add-story-input" %>
      <p id="story-char-count"></p>
      <%= f.submit "Add Story", id: "add-story-button" %>
    <% end %>

    <div class="card-column-one"></div>
    <div class="card-column-two"></div>
    <div class="card-column-three"></div>

    <% @stories.each_with_index do |story, index| %>
      <% if index % 3 == 0 %>
        <script>
          $('.card-column-one').append("<%= j render partial: 'story', locals: {
                story_text: story.story,
                name: story.user.name,
                story_id: story.id,
                memorial_id: @memorial.id,
                likes: @likes.where(story_id: story.id)
              } %>");
        </script>
      <% elsif index % 3 == 1 %>
        <script>
          $('.card-column-two').append("<%= j render partial: 'story', locals: {
                story_text: story.story,
                name: story.user.name,
                story_id: story.id,
                memorial_id: @memorial.id,
                likes: @likes.where(story_id: story.id)
              } %>");
        </script>
      <% elsif index % 3 == 2 %>
        <script>
          $('.card-column-three').append("<%= j render partial: 'story', locals: {
                story_text: story.story,
                name: story.user.name,
                story_id: story.id,
                memorial_id: @memorial.id,
                likes: @likes.where(story_id: story.id)
              } %>");
        </script>
      <% end %>
    <% end %>
  </div>
</div>