<div class="row">
  <div class="memorial-cover-photo">
  </div>

  <div class="memorial-name-dates cntr-txt">
    <p>
      <span id="name">
        <%= @memorial_page.memorial.name %><br>
      </span>
      <span id="dates">
        <%= @memorial_page.memorial.born.strftime("%b %e, %Y ") %>
        - <%= @memorial_page.memorial.died.strftime("%b %e, %Y ") %>
      </span>
    </p>
  </div>
</div>

<div class="full-width">
  <div class="memorial-content">

    <div class="memorial-content-buttons scrollto">
      <ul>
        <li><button id="new-story-button">Story</button></li>
        <li><button id="new-post-button">Post</button></li>
        <li><button id="new-image-button">Photo</button></li>
      </ul>
    </div>

    <%= render 'memorials/content_forms/new_story' %>
    <%= render 'memorials/content_forms/new_post' %>
    <%= render 'memorials/content_forms/new_image' %>


    <div class="columns-container">
      <% @memorial_page.content.each do |content| %>

        <% locals = create_locals(content, @memorial_page.memorial) %>

        <% if content.class == Story %>
          <%= render partial: 'memorials/cards/story_card', locals: locals %>
        <% elsif content.class == Post %>
          <%= render partial: 'memorials/cards/post_card', locals: locals %>
        <% elsif content.class == Image %>
          <%= render partial: 'memorials/cards/image_card', locals: locals %>
        <% end  %>
      <% end %>

    </div>
  </div>
</div>