<!DOCTYPE html>
<html>
<head>
  <title>Sonder</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
</head>
<body>

<div class="full-width">
  <% if flash[:notice] %>
    <div class="flash-success"><%= flash[:notice] %></div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
